Repository Roznoshchik/Lurnby: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest, vitest

pytest:
  name: pytest
  entry: bash -c '. venv/bin/activate && pytest --durations=0 --durations-min=0.29'
  language: system
  pass_filenames: false

vitest:
  name: vitest
  entry: bash -c 'cd client && npm run test:run'
  language: system
  pass_filenames: false

Update articles API: SQLAlchemy 2.0, new response format, improved sorting
  app/api/articles.py
  app/api/helpers/article_query_maker.py
  app/api/helpers/query_maker.py
  tests/api/test_articles.py
  tests/api/test_highlights.py
  tests/api/test_tags.py
Due: pytest

Articles page redesign: filters, pagination, and new components
  CLAUDE.md
  app/api/articles.py
  app/api/helpers/article_query_maker.py
  app/api/helpers/query_maker.py
  app/api/tags.py
  client/COMPONENTS.md
  client/static/articles.jsx
  client/static/components/ArticleCard/ArticleCard.css
  client/static/components/ArticleCard/ArticleCard.jsx
  client/static/components/ArticlePreview/ArticlePreview.css
  client/static/components/ArticlePreview/ArticlePreview.jsx
  client/static/components/Badge/Badge.css
  client/static/components/Combobox/Combobox.css
  client/static/components/Combobox/Combobox.jsx
  client/static/components/Select/Select.css
  client/static/components/Select/Select.jsx
  client/static/css/articles.css
  tests/api/test_tags.py
Due: pytest, vitest

Fix SQLAlchemy boolean comparisons and datetime deprecation
  app/api/helpers/article_query_maker.py
  app/models/article.py
Due: pytest

update docstring
  app/api/articles.py
Due: pytest

Simplify get_total_count query and refactor article tests
  app/api/helpers/query_maker.py
  app/models/article.py
  tests/api/test_articles.py
Due: pytest

Extract tag color logic to shared helper and fix font-size variables
  app/models/article.py
  client/static/components/Badge/Badge.jsx
  client/static/components/Combobox/Combobox.css
  client/static/components/Combobox/Combobox.jsx
  client/static/utils/helpers.js
Due: pytest, vitest

Use font-size CSS variables in Select and articles styles
  client/static/components/Select/Select.css
  client/static/css/articles.css
Due: none

Fix test database isolation and add safety guards
  .env.example
  app/__init__.py
  app/tasks.py
  config.py
  tests/conftest.py
Due: pytest

Migrate tags API to use tag IDs instead of names
  app/api/articles.py
  app/api/helpers/update_tags.py
  app/api/highlights.py
  app/models/article.py
  app/models/highlight.py
  tests/api/test_articles.py
  tests/api/test_highlights.py
Due: pytest

Add Edit Article Modal with Quill.js rich text editing
  client/COMPONENTS.md
  client/package-lock.json
  client/package.json
  client/static/articles.jsx
  client/static/components/ArticleCard/ArticleCard.jsx
  client/static/components/ArticleEditModal/ArticleEditModal.css
  client/static/components/ArticleEditModal/ArticleEditModal.jsx
  client/static/components/ArticlePreview/ArticlePreview.jsx
  client/static/components/Combobox/Combobox.jsx
  client/static/components/Icon/Icon.css
  client/static/components/Modal/Modal.css
  client/static/components/Modal/Modal.jsx
  client/static/components/QuillEditor/QuillEditor.css
  client/static/components/QuillEditor/QuillEditor.jsx
  client/static/css/articles.css
  client/static/utils/routes.js
Due: vitest

update bulk update tag sql logic
  app/api/helpers/update_tags.py
Due: pytest

Add composite primary keys to junction tables
  app/models/article.py
  app/models/highlight.py
  migrations/versions/86e5d21b77c4_add_composite_primary_keys_to_junction_.py
Due: pytest

Consolidate tag handling into unified update_tags function
  app/api/articles.py
  app/api/helpers/add_article_methods.py
  app/api/helpers/add_highlight_methods.py
  app/api/helpers/update_tags.py
  app/api/highlights.py
  app/templates/add_article_modal.html
  tests/api/test_articles.py
  tests/api/test_highlights.py
Due: pytest

Add reusable Card component and refactor article cards
  client/static/components/ArticleCard/ArticleCard.css
  client/static/components/ArticleCard/ArticleCard.jsx
  client/static/components/ArticlePreview/ArticlePreview.css
  client/static/components/ArticlePreview/ArticlePreview.jsx
  client/static/components/Card/Card.css
  client/static/components/Card/Card.jsx
  client/static/css/forms.css
Due: vitest

Fix article content loading in edit modal
  app/api/articles.py
  app/models/article.py
  client/static/components/ArticleEditModal/ArticleEditModal.jsx
  client/static/components/QuillEditor/QuillEditor.jsx
Due: pytest, vitest

add additional sizes and make quill editors scrollable
  client/static/components/ArticleEditModal/ArticleEditModal.css
  client/static/css/sizing.css
Due: none

Add ArticleAddModal with type selection cards
  CLAUDE.md
  client/COMPONENTS.md
  client/static/articles.jsx
  client/static/components/ArticleAddModal/ArticleAddModal.css
  client/static/components/ArticleAddModal/ArticleAddModal.jsx
  client/static/css/palette.css
Due: vitest

update padding and gap on cards
  client/static/components/ArticleAddModal/ArticleAddModal.jsx
  client/static/components/Card/Card.css
Due: vitest

set selectedType directly instead of id
  client/static/components/ArticleAddModal/ArticleAddModal.jsx
  client/static/css/theme.css
Due: vitest

update component docs
  client/COMPONENTS.md
Due: none

switch to just for cli commands
  CLAUDE.md
  app/cli.py
  install.md
  justfile
Due: pytest

Add article type forms with presigned S3 upload flow
  app/api/articles.py
  app/api/helpers/add_article_methods.py
  client/static/articles.jsx
  client/static/components/ArticleAddModal/ArticleAddModal.css
  client/static/components/ArticleAddModal/ArticleAddModal.jsx
  client/static/components/Modal/Modal.jsx
  tests/api/test_articles.py
Due: pytest, vitest

Add poll service, Sonner toasts, and 202 status for file uploads
  app/api/helpers/add_article_methods.py
  client/package-lock.json
  client/package.json
  client/static/articles.jsx
  client/static/components/ArticleAddModal/ArticleAddModal.jsx
  client/static/css/globals.css
  client/static/css/toast.css
  client/static/services/pollService.js
  client/static/services/pollService.test.js
  client/static/utils/api.js
  tests/api/test_articles.py
Due: pytest, vitest

clean up method returns
  app/api/helpers/add_article_methods.py
Due: pytest

API client returns { status, data } format
  client/static/utils/api.js
Due: vitest

Task endpoint uses RESTful status codes
  app/api/tasks.py
  tests/api/test_tasks.py
Due: pytest

create pollService and alertService wrapping sonner
  client/static/services/alertService.js
  client/static/services/pollService.js
  client/static/services/pollService.test.js
Due: vitest

adjust old template for date read no longer required
  app/templates/_article.html
Due: none

use pollService when adding and editing article
  app/api/articles.py
  client/static/articles.jsx
  client/static/components/ArticleAddModal/ArticleAddModal.jsx
  client/static/components/ArticleEditModal/ArticleEditModal.jsx
  client/static/components/Layout/Layout.jsx
  client/static/utils/routes.js
Due: pytest, vitest

add sam app for lurnby bucket
  .pre-commit-config.yaml
  samconfig.toml
  template.yaml
Due: none

create docs for services
  client/SERVICES.md
Due: none

update docs
  CLAUDE.md
  README.md
Due: none

add notes field to article add modal, fix archive list update
  client/static/articles.jsx
  client/static/components/ArticleAddModal/ArticleAddModal.jsx
Due: vitest

make cancel explicit
  client/static/services/pollService.js
Due: vitest

move api to services folder
  client/SERVICES.md
  client/static/articles.jsx
  client/static/components/ArticleAddModal/ArticleAddModal.jsx
  client/static/components/ArticleEditModal/ArticleEditModal.jsx
  client/static/contexts/AuthContext/AuthContext.jsx
  client/static/services/api.js
  client/static/services/pollService.js
  client/static/services/pollService.test.js
  client/static/services/routes.js
Due: vitest

extract PageHeader component from articles page
  client/static/articles.jsx
  client/static/components/PageHeader/PageHeader.css
  client/static/components/PageHeader/PageHeader.jsx
  client/static/css/articles.css
Due: vitest

add highlights list page
  app/api/helpers/highlight_query_maker.py
  app/api/highlights.py
  app/client/routes.py
  app/models/highlight.py
  app/templates/client/highlights.html
  client/static/components/HighlightCard/HighlightCard.css
  client/static/components/HighlightCard/HighlightCard.jsx
  client/static/components/HighlightEditModal/HighlightEditModal.css
  client/static/components/HighlightEditModal/HighlightEditModal.jsx
  client/static/css/highlights.css
  client/static/highlights.jsx
  client/static/services/routes.js
  client/vite.config.js
  migrations/versions/a25b93359b97_remove_untagged_column_from_highlight.py
  tests/api/test_highlights.py
  tests/api/test_tags.py
Due: pytest, vitest

remove bg image
  client/static/css/forms.css
Due: none

update gitignore
  .gitignore
Due: none

fix card overflowing
  client/static/components/Card/Card.css
  client/static/components/HighlightCard/HighlightCard.css
Due: none

Path conditions:
  pytest: any of: \.py$
  vitest: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
