Repository Roznoshchik/Lurnby: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest, vitest

.pre-commit-config.yaml:

repos:
  # Python formatting
  - repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
      - id: black
        language_version: python3.12
        types: [python]

  # Python linting
  - repo: https://github.com/pycqa/flake8
    rev: 7.1.1
    hooks:
      - id: flake8
        name: Flake8 (strict)
        args:
          [
            "--count",
            "--select=E9,F63,F7,F82",
            "--show-source",
            "--statistics",
          ]
        language: python
        types: [python]
      - id: flake8
        name: Flake8 (warnings)
        args: ["--exit-zero", "--max-line-length=127"]
        verbose: true
        language: python
        types: [python]

  # Python security
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.10
    hooks:
      - id: bandit
        args: ["-r", "app/", "-ll"]
        files: ^app/
        pass_filenames: false

  # Python tests
  - repo: local
    hooks:
      - id: pytest
        name: pytest
        entry: bash -c '. venv/bin/activate && pytest --durations=0 --durations-min=0.29'
        language: system
        pass_filenames: false
        types: [python]

  # JavaScript/Frontend tests
  - repo: local
    hooks:
      - id: vitest
        name: vitest
        entry: bash -c 'cd client && npm run test:run'
        language: system
        pass_filenames: false
        types_or: [javascript, jsx, ts, tsx]

  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict

pass params to reader open urls
  client/static/articles.jsx
  client/static/highlights.jsx
Due: vitest

add chunks model and update content tree creation
  app/models/__init__.py
  app/models/article.py
  app/models/article_chunk.py
  app/models/highlight.py
  migrations/versions/4ec7d74236b2_convert_bookmarks_to_array_format.py
  migrations/versions/51a9f121e00b_add_highlight_start_end_offsets_drop_.py
  migrations/versions/9f51a676d529_add_chunk_positioning_columns_to_.py
  migrations/versions/f619f0e9ac11_add_articlechunk_model_and_article_.py
Due: pytest

temp
  .env.example
  app/api/articles.py
  app/api/helpers/add_highlight_methods.py
  app/main/routes.py
  app/models/article.py
  client/static/components/HighlightAddModal/HighlightAddModal.jsx
  client/static/components/ReaderContent/ReaderContent.css
  client/static/components/ReaderContent/ReaderContent.jsx
  client/static/components/Sidebar/Sidebar.css
  client/static/css/reader.css
  client/static/hooks/useChunkWindow.js
  client/static/hooks/useReaderHighlights.js
  client/static/reader.jsx
Due: pytest, vitest

improve bookmark migration and highlight reanchoring
  app/models/article.py
Due: pytest

add chunk API endpoints and article processing route
  app/api/articles.py
  app/api/helpers/add_highlight_methods.py
  app/main/routes.py
Due: pytest

refactor reader to use sliding chunk window
  client/static/components/ReaderContent/ReaderContent.css
  client/static/components/ReaderContent/ReaderContent.jsx
  client/static/hooks/useChunkWindow.js
  client/static/hooks/useReaderHighlights.js
  client/static/reader.jsx
Due: vitest

reader UI: notes panel, sidebar transitions, layout polish
  client/static/components/Layout/Layout.css
  client/static/components/Layout/Layout.jsx
  client/static/components/NotesPanel/NotesPanel.css
  client/static/components/Sidebar/Sidebar.css
  client/static/components/Sidebar/Sidebar.jsx
  client/static/css/reader.css
Due: vitest

handle unprocessed articles in articles and highlights lists
  client/static/articles.jsx
  client/static/components/ArticleCard/ArticleCard.jsx
  client/static/components/ArticlePreview/ArticlePreview.jsx
  client/static/components/HighlightAddModal/HighlightAddModal.jsx
  client/static/components/HighlightCard/HighlightCard.jsx
  client/static/highlights.jsx
Due: vitest

add AWS_PROFILE to env example
  .env.example
Due: none

remove content_tree from Article model
  app/models/article.py
  migrations/versions/9e8cff309c37_drop_content_tree_from_article.py
Due: pytest

clean up _migrate_legacy_bookmarks debug logs and inline import
  app/models/article.py
Due: pytest

move content tree logic to app/helpers/content_tree.py
  app/helpers/content_tree.py
  app/models/article.py
Due: pytest

delete stale reader hooks, add knip config
  client/knip.json
  client/static/hooks/useReaderBookmarks.js
  client/static/hooks/useReaderProgress.js
Due: vitest
