Repository Roznoshchik/Lurnby: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest, vitest

.pre-commit-config.yaml:

repos:
  # Python formatting
  - repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
      - id: black
        language_version: python3.12
        types: [python]

  # Python linting
  - repo: https://github.com/pycqa/flake8
    rev: 7.1.1
    hooks:
      - id: flake8
        name: Flake8 (strict)
        args:
          [
            "--count",
            "--select=E9,F63,F7,F82",
            "--show-source",
            "--statistics",
          ]
        language: python
        types: [python]
      - id: flake8
        name: Flake8 (warnings)
        args: ["--exit-zero", "--max-line-length=127"]
        verbose: true
        language: python
        types: [python]

  # Python security
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.10
    hooks:
      - id: bandit
        args: ["-r", "app/", "-ll"]
        files: ^app/
        pass_filenames: false

  # Python tests
  - repo: local
    hooks:
      - id: pytest
        name: pytest
        entry: bash -c '. venv/bin/activate && pytest --durations=0 --durations-min=0.29'
        language: system
        pass_filenames: false
        types: [python]

  # JavaScript/Frontend tests
  - repo: local
    hooks:
      - id: vitest
        name: vitest
        entry: bash -c 'cd client && npm run test:run'
        language: system
        pass_filenames: false
        types_or: [javascript, jsx, ts, tsx]

  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict

fixes
  app/models/highlight.py
  client/static/components/ArticleEditModal/ArticleEditModal.css
  client/static/components/HighlightEditModal/HighlightEditModal.css
  client/static/components/HighlightEditModal/HighlightEditModal.jsx
  client/static/highlights.jsx
  tests/api/test_highlights.py
Due: pytest, vitest

merge Topic into Tag with dual-write and backfill
  app/models/__init__.py
  app/models/article.py
  app/models/associations.py
  app/models/highlight.py
  app/models/tag.py
  app/models/topic.py
  migrations/versions/9d7b79cab2cc_backfill_tags_from_topics.py
  migrations/versions/ce7c5abaa88d_add_last_used_column_to_tag.py
  migrations/versions/f5a2ecbdce8d_migrate_highlights_topics_to_tags_.py
Due: pytest

fix Combobox spacebar selecting instead of typing
  client/static/components/Combobox/Combobox.jsx
Due: vitest

standardize highlights API routes to use uuid
  app/api/highlights.py
  client/static/components/HighlightEditModal/HighlightEditModal.jsx
  tests/api/test_highlights.py
Due: pytest, vitest

improve tags API and backfill migration
  app/api/tags.py
  migrations/versions/9d7b79cab2cc_backfill_tags_from_topics.py
Due: pytest

add Tags management UI
  app/client/routes.py
  app/templates/client/tags.html
  client/static/components/TagCard/TagCard.css
  client/static/components/TagCard/TagCard.jsx
  client/static/components/TagEditModal/TagEditModal.css
  client/static/components/TagEditModal/TagEditModal.jsx
  client/static/css/tags.css
  client/static/tags.jsx
Due: pytest, vitest

add toggle switch CSS class for checkboxes
  client/static/css/forms.css
Due: none

add markdown support and headers to QuillEditor
  client/package-lock.json
  client/package.json
  client/static/components/QuillEditor/QuillEditor.jsx
Due: vitest

fix Login imports and add tags entry to vite config
  client/static/components/Login/Login.jsx
  client/vite.config.js
Due: vitest

fix CLAUDE.md reference to .claude folder
  CLAUDE.md
Due: none

Remove lazy=dynamic, use selectinload, standardize to_dict
  app/api/articles.py
  app/api/helpers/article_query_maker.py
  app/api/highlights.py
  app/export.py
  app/helpers/export_helpers.py
  app/helpers/on_demand/match_tags.py
  app/main/routes.py
  app/models/article.py
  app/models/highlight.py
  app/models/tag.py
  app/templates/text.html
Due: pytest

Add inline tag creation to Combobox and modals
  client/static/articles.jsx
  client/static/components/ArticleAddModal/ArticleAddModal.css
  client/static/components/ArticleAddModal/ArticleAddModal.jsx
  client/static/components/ArticleEditModal/ArticleEditModal.jsx
  client/static/components/Combobox/Combobox.css
  client/static/components/Combobox/Combobox.jsx
  client/static/components/HighlightEditModal/HighlightEditModal.jsx
  client/static/components/Icon/Icon.jsx
  client/static/highlights.jsx
Due: vitest

Update tests for SQLAlchemy 2.0 patterns
  tests/api/test_articles.py
  tests/helpers/test_export_helpers.py
  tests/models/test_highlight_model.py
  tests/models/test_tag_model.py
Due: pytest

Format client files with Biome
  client/static/components/HighlightCard/HighlightCard.css
  client/static/components/TagCard/TagCard.css
  client/static/components/TagEditModal/TagEditModal.jsx
  client/static/services/api.js
  client/static/services/pollService.js
  client/static/tags.jsx
  client/vite.config.js
Due: vitest

Update component docs: add Combobox onCreate, remove page-specific components
  client/COMPONENTS.md
Due: none

2.0 syntax
  app/api/highlights.py
Due: pytest

update pagination method to work with complex query
  app/api/helpers/query_maker.py
  app/api/tags.py
Due: pytest

fix hallucinated var
  client/static/components/TagEditModal/TagEditModal.css
Due: none

Fix broken CSS variables in focus styles
  client/static/components/TagEditModal/TagEditModal.css
  client/static/css/articles.css
  client/static/css/highlights.css
  client/static/css/tags.css
Due: none

Remove unused tag creation modal
  client/static/components/TagEditModal/TagEditModal.jsx
  client/static/tags.jsx
Due: vitest

Remove unused headerActions from tags page
  client/static/tags.jsx
Due: vitest

bug fix
  client/static/tags.jsx
  migrations/versions/9d7b79cab2cc_backfill_tags_from_topics.py
Due: pytest, vitest

Add article reader page with notes panel and settings
  app/client/routes.py
  app/templates/client/reader.html
  client/static/components/Layout/Layout.jsx
  client/static/components/NotesPanel/NotesPanel.css
  client/static/components/NotesPanel/NotesPanel.jsx
  client/static/components/ReaderContent/ReaderContent.css
  client/static/components/ReaderContent/ReaderContent.jsx
  client/static/components/Sidebar/Sidebar.css
  client/static/components/Sidebar/Sidebar.jsx
  client/static/css/reader.css
  client/static/reader.jsx
  client/static/services/routes.js
  client/vite.config.js
Due: pytest, vitest

Change review icon from rotate_left to exercise
  client/static/components/MobileNav/MobileNav.jsx
  client/static/components/PageHeader/PageHeader.jsx
  client/static/components/Sidebar/Sidebar.jsx
Due: vitest

Add content_tree to Article model and migrate bookmarks to array format
  app/models/article.py
  migrations/versions/2b58a74fd255_add_content_tree_column_to_article.py
  migrations/versions/4ec7d74236b2_convert_bookmarks_to_array_format.py
Due: pytest

Refactor reader with offset-based bookmarks and custom hooks
  client/static/components/ReaderContent/ReaderContent.jsx
  client/static/hooks/useReaderBookmarks.js
  client/static/hooks/useReaderProgress.js
  client/static/reader.jsx
Due: vitest

Fix bookmark button click areas to match hover highlight
  client/static/css/reader.css
Due: none

Fix lint errors and formatting
  client/static/components/ReaderContent/ReaderContent.css
  client/static/components/TagEditModal/TagEditModal.jsx
  client/static/tags.jsx
Due: vitest

Add start/end offset columns to Highlight model
  app/main/routes.py
  app/models/highlight.py
  migrations/versions/51a9f121e00b_add_highlight_start_end_offsets_drop_.py
  tests/models/test_tag_model.py
  tests/tasks/test_create_recall_text.py
Due: pytest

Add Popover and HighlightPopover components
  client/COMPONENTS.md
  client/static/components/HighlightPopover/HighlightPopover.css
  client/static/components/HighlightPopover/HighlightPopover.jsx
  client/static/components/Popover/Popover.css
  client/static/components/Popover/Popover.jsx
Due: vitest

Add on-demand content tree building with highlight reanchoring
  app/api/articles.py
  app/models/article.py
Due: pytest

Add offset support and article filter to highlights API
  app/api/helpers/add_highlight_methods.py
  app/api/helpers/highlight_query_maker.py
  app/api/highlights.py
Due: pytest

Add highlight creation and rendering in reader
  client/static/components/HighlightAddModal/HighlightAddModal.css
  client/static/components/HighlightAddModal/HighlightAddModal.jsx
  client/static/components/HighlightCard/HighlightCard.jsx
  client/static/components/HighlightEditModal/HighlightEditModal.css
  client/static/components/HighlightEditModal/HighlightEditModal.jsx
  client/static/components/ReaderContent/ReaderContent.css
  client/static/components/ReaderContent/ReaderContent.jsx
  client/static/hooks/useReaderHighlights.js
Due: vitest

Add article highlights page and navigation
  client/static/articles.jsx
  client/static/components/ArticleCard/ArticleCard.jsx
  client/static/components/ArticleEditModal/ArticleEditModal.jsx
  client/static/highlights.jsx
  client/static/services/routes.js
Due: vitest

Integrate highlights in reader with UI improvements
  client/static/components/ArticlePreview/ArticlePreview.jsx
  client/static/css/reader.css
  client/static/hooks/useReaderBookmarks.js
  client/static/reader.jsx
Due: vitest

Remove broken legacy bookmark/highlight code
  app/static/highlight.js
  app/templates/text.html
Due: vitest

Fix article status tracking and list sorting
  app/api/helpers/article_query_maker.py
  app/models/article.py
  client/static/hooks/useReaderProgress.js
  client/static/reader.jsx
Due: pytest, vitest

Add URL params sync for list page pagination/filters
  client/static/articles.jsx
  client/static/highlights.jsx
  client/static/hooks/useUrlParams.js
  client/static/tags.jsx
Due: vitest

create loader component
  client/COMPONENTS.md
  client/static/components/Loader/Loader.css
  client/static/components/Loader/Loader.jsx
Due: vitest

bookmarks to json, article to mapped_col
  app/models/article.py
  client/static/services/routes.js
  migrations/versions/6e7be7a417b3_bookmarks_json_article_mapped_col.py
  tests/api/test_articles.py
  tests/api/test_tasks.py
  tests/helpers/test_ebooks.py
  tests/helpers/test_export_helpers.py
  tests/helpers/test_pdf.py
  tests/tasks/test_create_recall_text.py
  tests/test_email.py
Due: pytest, vitest
